@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes seila {
    
    100% {
        opacity: 1;
    }
}
html {
    background-color: rgb(29, 7, 95);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
section {
    margin: auto;
    input {
        border-radius: 23px;
        font-size: 1em;
        text-indent: 24px;
        height: 40px;
        width: 300px;
        border: 0;
    }
    input:focus,input:hover {
        outline: 0;
        border: 0;
    }
}
#Humidade {
    font-size: 1.5em;
    color: black;
    font-family: "Cal Sans";
}
#humidadediv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    margin: 20px 0 0 0;
    width: 85%;
}
#clima {
    height: 100px;
    width: 100px;
}
#humidadediv2 {
    display: flex;
    align-items: center;
}
#temperatura {
    font-size: 1.5em;
    font-family: "Cal Sans";
}   
#sensaçãotermica {
    font-size: 1.4em;
}
#cidade {
    font-family: "Cal Sans";
    font-weight: 600;
    font-size: 1.6em;
    color: rgb(24, 23, 23);
}
button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.5em;
    border: none;
    margin: 20px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(196, 197, 198);
}
div#display {
    background-color: white;
    height: 450px;
    width: 400px;
    border-radius: 25px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation-name: seila;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    transition: 0.3s ease;
    animation-play-state: paused;
    animation-fill-mode: both;
    * {
        transition: 0.3s ease;
     }
    }
@media (max-width:500px) {
    * {
        scale: 0.98 ;
    }
}